<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings file="App1.config">

    <!-- https://****.crm7.dynamics.com/ -->
    <add key="serverUri" value=""/>

    <!-- https://****.crm7.dynamics.com/ -->
    <add key="tenantId" value=""/>
    
    <!-- ********-****-****-****-************ -->
    <add key="clientId" value=""/>

    <!-- ********-****-****-****-************ -->
    <add key="clientSecret" value=""/>
    <!-- password -->
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>