<?xml version="1.0" encoding="utf-8" ?>
<appSettings>

  <!-- https://****.crm7.dynamics.com/ -->
  <add key="serverUri" value="https://sugi38.crm7.dynamics.com/"/>

  <!-- https://****.crm7.dynamics.com/ -->
  <add key="tenantId" value="sugi38.onmicrosoft.com"/>

  <!-- ********-****-****-****-************ -->
  <add key="clientId" value="b85a017c-0a3d-4c94-a00f-493a3385053f"/>

  <!-- ********-****-****-****-************ -->
  <add key="clientSecret" value="N1TCQRl0w88u52GE6U1OQUUapBpRHXCX2IMqoAGzcuE="/>
  <!-- password -->
</appSettings>